<!-- /add In ERB -->


<h3>&nbsp;</h3> <!-- for beauty-->
<h2>This is LeaveMessage Page</h2>
<h3>&nbsp;</h3> <!-- for beauty-->

<div class="error">
<%= @error %>
</div>

<form class="form-inline" method="POST" action="/add">

		<label>&nbsp;Author &nbsp;&nbsp;:</label>
		<input type="text"  name="author">

		<h3></h3> <!-- for beauty-->
		<label>Message :</label>
		<h3></h3> <!-- for beauty-->
		<!-- <input type="text"  name="message"> -->
		<textarea name="message" placeholder="input your message here"></textarea>

	<button type="submit" class="btn btn-default">Add now</button>
</form>

<a class="" href="/"><button class="btn btn-link">Index</button></a>
